<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        {% if posts %}
            {% for post in posts %}
            {% if post.gubun == "서울" %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.gubun }}</td>
                    <td>{{ post.isolclearcnt }}</td>
                    <td>{{ post.stdday }}</td>
                </tr>
            {% endif %}
            {% endfor %}
        {% endif %}
    </table>
</body>
</html>